.dialog-container {
  margin: 10px 10px;
}

.dialog-container .MuiTextField-root {
  width: 90%;
  /* margin-bottom: 25px ; */
}

.dialog-container.MuiFormControl-root {
  margin-left: 0px !important;
   margin-bottom: 5px !important;
}

.dialog-container .MuiFormControlLabel-root {
    margin:0px 5px !important
}

.input-error-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.dialog-container .MuiTypography-root{
  margin: 17px 0px;
}

.input-error-block p,.error{
  color: red;
  font-size: 15px;
  font-weight: 300;
}

.dialog-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px
}

.dialog-footer button{
  width: 15%;
}