.main{
    display: flex;
    margin: auto;
    height: 80%;
    width: 80%;
}
.grid-container{
    height: 100%;        
    width: auto;        
    justify-content: center;        
    align-content: center;
    background-color: rgb(253, 253, 253);
}

.image-block{
    width: max-content;
}

