.title-register{
    margin: 20px 0 0 0;
}

.action-btn-register{
    display: flex;
    width: 320px;
}

.action-btn-register button{
    margin-top:20px;
    margin-right:10px;
    height: 40px;
    width: 140px;
    font-weight: bold;
    text-transform: none;
}